.login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link1{
    margin-top: 5px;
    float: right; 
}

.link2{
    margin-top: 10px;
    text-align: center;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo span{
    color: rgb(38, 174, 184);
}

.titulo img{
    width: 58px;
    height: 58px;
}

.titulo h1{
    margin-bottom: 0px;
}