.input {}

.input label {
    display: block;
    color: #0957DE;
}

.input input {
    height: 45px;
    width: 100%;
    border-color: #0957DE;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 5px;
}