.form {
    font-family: "Raleway";
    display: flex;
    width: 375px;
    height: auto;
    flex-direction: column;
}

.form h1 {
    font-weight: bold;
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
}