.conteudo{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #4388FF, #5ACAE2);
    height: 60px;
    border-radius: 15px;
    align-items: center;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputPesquisa{
    color: #fff;
    background: none;
    width: 252px;
    height: 32px;
    padding-left: 10px;
    border: 1px solid #ffff;
    border-radius: 10px;
    outline: none;
    margin-right: 5px;
}

.inputPesquisa::placeholder{
    color: #ffff;
}

.iconePesquisa{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.buttonPesquisa {
    border: 1px solid #E3F2FD;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}