.header {
    background-color: white;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    padding-left: 80px;
    align-items: center;
    justify-content: center;
}

.header span {
    font-family: "Raleway";
    font-weight: bold;
    height: 50px;
    font-size: 32px;
    align-items: center;
}

.medi{
    color: rgb(38, 174, 184);
}

.logo{
    width: 58px;
    height: 58px;
}

.logout {
    right: 120px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.logoContainer{
    left: 120px;
    position: absolute;
    display: flex;
    align-items: center;
}

.pesquisa {
    align-self: flex-start;
}
